/*Effects the whole website*/
:root {
    --background_color: rgp(30, 33, 63);
    --white_font: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
}

body {
    background-color: var(--background_color);
    color: var(--white_font);
    font-family: 'Kumbh Sans', sans-serif;
}

/*End Elements that effect the whole website*/
/*Section start body*/

/*Section end body*/

/*Section start timer container*/

/*Section end timer container*/

/*Section start menu contaier*/
.menu_continer {
    visibility: hidden;
}
/*Section end menu container*/

/*Section start tablet*/

/*Section end tablet*/

/*Section start Desktop*/
/*Section end Desktop*/