/*Effects the whole website*/
:root {
    --background_color: rgb(30, 33, 63);
    --white_font: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    outline: none;
}

#overlay {
    background-color: rgb(20, 21, 31);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    display: block;
    opacity: .9;
    top: 0;
    left: 0;
}
body {
    background-color: var(--background_color);
    color: var(--white_font);
    font-family: 'Kumbh Sans', sans-serif;
}

/*End Elements that effect the whole website*/
/* Start Main section */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Section start timer container*/
.timer_continer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
}

#start, #stop, #restart {
    cursor: pointer;
}

.pomodoro {
    height: 1.6em;
    padding: 30px;
}

.button_container {
    background: #161932;
    border-radius: 25px;
    padding: 5px;
    transition: 25s;
    position: relative;
}

button.formated_button {
    border: none;
    font-weight: bold;
    background: none;
    padding: 10px;
    color: #757988;
    z-index: 2;
    position: relative;
}

#indicator {
    transition: all 0.5s ease-in;
    background: #f87070;
    width: calc(70%/3);
    height: 35px;
    position: absolute;
    top: 4px;
    z-index: 1;
    border-radius: 20px;
    padding: 0 10px;
    margin-left: calc(0%);
}

.circle_container {
    height: 40vh;
    width: 40vh;
    margin: 40px;
    border-radius: 50%;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
    position: relative;
}
circle#timer_circle {
    transition: stroke-dashoffest 2s ease-out 0s;
}

div#text-timer {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 45%;
}
.circle {
    position: absolute;
    z-index: 1;
    width: 95%;
}

h2#timer {
    position: relative;
    font-weight: 700;
    font-size: 2.7em;
    padding-bottom: 15px;
}

#settings_button {
    cursor: pointer;
}

/*Section end timer container*/

/*end main section*/
/*Section start menu contaier*/

.menu_continer {
    position: absolute;
    display: none;
    top: 25%;
    flex-direction: column;
    background-color: white;
    color: black;
    z-index: 2;
    padding: 30px 0;
    border-radius: 25px;
    margin: 20px;
    max-width: 450px;
}

.menu_continer h1, h3, div {
    padding-left: 10px;
    padding-right: 10px;

}

.menu_continer h3 {
    text-align: center;
    padding: 10px;
    font-size: .7em;
    text-transform: uppercase;
}

.time_settings label {
    display: inline-block;
    width: 90px;
    padding-right: 90px;
    font-size: .6em;
    color: #757886;
}

.time_settings input {
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    background-color: #EFF1FA;
    color: #1E213F;
}

.menu_continer h1 {
    padding-bottom: 20px;
    border-bottom: 2px solid #E3E1E1;
}

.time_settings div {
    padding: 2px;
}
.time_settings {
    border-bottom: 2px solid #E3E1E1;
    padding-bottom: 20px;
}

.font_settings {
    border-bottom: 2px solid #E3E1E1;
}

.font_settings div {
    display: flex;
    justify-content: center;
    
}


.font_settings input[type=radio]{
    border: none;
    width: 30px;
    height: 30px;
    background-color: white;
    appearance:unset;
    border: 1px solid black;
    border-radius: 25px;
    position: relative;
    margin: 0 5px;
    font-size: 1em;
    cursor: pointer;
    z-index: 2;
}

.font_settings input[type=radio]::before {
    content: "Aa";
    position: absolute;
    top: 18%;
    left: 15%;
}

.font_settings input[type=radio]:checked{
    
    color: white; 
    background-color: black; 
    width: 30px;
    height: 30px;
}

.color_settings div {
    display: flex;
    justify-content: center;
    
}

.color_settings input[type=radio]{
    border: none;
    width: 30px;
    height: 30px;
    background-color: white;
    appearance:unset;
    border: 1px solid black;
    border-radius: 25px;
    position: relative;
    margin: 0 5px;
    font-size: 1em;
    cursor: pointer;
    z-index: 2;
}

.color_settings input[type=radio]{
    border: none;
    width: 30px;
    height: 30px;
    background-color: white;
    appearance:unset;
    border-radius: 25px;
    position: relative;
    margin: 0 5px;
    font-size: 1em;
}

.color_settings input[type=radio]#pink_button{
    background-color: #F87070;
}
.color_settings input[type=radio]#blue_button{
    background-color: #70F3F8;
}
.color_settings input[type=radio]#purple_button{
    background-color: #D881F8;
}



.color_settings input[type=radio]:checked::before {
    content: "\2714";
    position: absolute;
    top: 20%;
    left: 27%;
}

.color_settings input[type=radio]:checked{
    
    color: white; 
    width: 30px;
    height: 30px;
}

.color_settings {
    padding-bottom: 30px;
}

button#apply {
    background-color: #D881F8;
    border: none;
    width: 100px;
    padding: 5px;
    border-radius: 25px;
    font-size: 1.2em;
    color: white;
    position:absolute;
    bottom: -16px;
    left: 35%;
}

/*Section end menu container*/

/*Section start tablet*/


@media only screen and (min-width: 768px) {
    section.menu_continer {
        min-width: 540px;
        max-width: none;
    }

    .menu_continer h3 {
        text-align: left;
        padding-top: 20px;
    }

    .time_settings label {
        width: unset;
        padding-right: 0px;
    }

    .time_settings {
        display: flex;
        justify-content: center;
    }

    .time_settings div {
        
        padding-right: 10px;
        display: flex;
        flex-direction: column;
    }
    .font_settings { 
        padding-bottom: 20px;
    }

    .font_settings, .color_settings {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    button#apply { 
        left: 40%;
    }
}

/*Section end tablet*/


.wrapper {
    position: absolute;
    top: 20%;
    left: 45%;
    margin: auto 0; 
    z-index: 2;
    width: 250px;
    color: black;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}

img.img-cookies {
    height: 100px;
    position: absolute;
    left: 35%;
    top: -17%;
}

div#notice-cookies {
    display: flex;
    flex-direction: column;
}

h3.title-cookie {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 1.8em;
    font-weight: 400;
}

p.paragraph {
    padding-bottom: 25px;
}

button#btn-accept-cookies {
    background-color: #828282;
    border: none;
    padding: 10px;
    font-size: 1.4em;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 25px;
    cursor: pointer;
}

a.link {
    text-decoration: none;
    color: #a7c8ff;
    font-size: 0.95em;
    cursor: pointer;
}

